.game_area {
    position: absolute;
    top: 20px;
    left: 20px;
}

.game_menu, .field {
    position: absolute;
    top: 0;
    left: 0;
}

.game_menu {
    z-index: 200;
}

form {
    position: absolute;
    top: 0;
    left: 430px;
}

input {
    display: block;
}

.player {
    position: absolute;
    width: 57px;
    height: 57px;
    z-index: 100;
}

.instructions {
    position: absolute;
    top: 450px;
}

.field_item {
    position: absolute;
}
