.field {
    position: absolute;
    top: 20px;
    left: 20px;
}

form {
    position: absolute;
    top: 20px;
    left: 450px;
}

input {
    display: block;
}

.player {
    position: absolute;
    width: 57px;
    height: 57px;
}

.instructions {
    position: absolute;
    top: 450px;
}
