.field {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url('grid.png') no-repeat;
    width: 410px;
    height: 410px;
}

form {
    position: absolute;
    top: 20px;
    left: 450px;
}

input {
    display: block;
}

.player {
    position: absolute;
    width: 57px;
    height: 57px;
}
